# Python for Machine Learning FDP

Author: P. Venkateswara Rao

# Day1: Agenda

1. [History of Python and Importance](#his)

2. [Important Shortcuts](#Important_Shortcuts)

3. [Comments in Python](#Comments_in_Python)

4. [Variables in Python](#Variables_in_Python)

5. [Print Function and read function](#pfrf)

6. [Data Types in Python](#dtip)

7. [Identifiers nothing but memory loacations](#inbml)

8. [Operators in python](#Operators_in_python)

9. [Other Operators](#oo)

10. [Operations on Data Types](#oodt)

11. [Strings](#s)

12. [Built-in Mathematical Functions](#mf)

13. [Control statements](#cs)

14. [For Loop](#fl)

15. [Lists](#lists)

16. [Tuples](#tup)

17. [Functions](#fun)

18. [Questions](#que)

19. [Dictionaries](#dict)

20. [Sets](#sets)

21. [Any Queries](#quer)

<a id='his'></a>
# History and Importance

<center>
    <img src = History_of_Python.jpg />
    </center>

# Python is Everywhere now

<div style=display:flex; flex-direction:column;>
      <img src = AI_ML_DL.png width=400 height=400 style=margin-left:-15px/>
      <img src = programvsml.png  width=200 height=200/>
      <img src = probability_vs_stats.png  width=200 height=200/>
    </div>

<a id='Important_Shortcuts'></a>
#**Important Shortcuts**

*The b key will make a new cell below the currently selected cell.

*The a key will make one above.

*The x key will delete the current cell.


<a id='Comments_in_Python'></a>
# Comments in Python
1. A line preceded by the character ‘#’

2. No Block/Multi-line Comment

3. Line Continuation with ‘\’

    i.Put a ‘\’ (backslash) character at the end of the line
    
    ii.Statements can be continued with ending ‘\’

In [1]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]
Version info.
sys.version_info(major=3, minor=11, micro=13, releaselevel='final', serial=0)

<a id='Variables_in_Python'></a>
# Variables in Python

contain letters, digits, and underscores

cannot start with digit

case sensitive

In [3]:
age = 19
name = 'suvinsai'

<a id='pfrf'></a>
# Print Function and read function

In [4]:
print(age)
print(name)

19
suvinsai

In [6]:
print("age= ",age)
print("name=",name)

age=  19
name= suvinsai

In [7]:
age = int(input('Enter the age'))
print(age)

Enter the age19
19

In [8]:
name = input('Enter name')
print(name)

Enter namesuvin sai
suvin sai

# String Formatting

In [10]:
'%10.3f' % (4.14592653589793,)

'     4.146'

In [11]:
strNew = "{:5s} {:.1f}".format('Python', 3.64)
print(strNew)
strNew = "{:.5s} {:.1f}".format('Python', 3.66)
print(strNew)

Python 3.6
Pytho 3.7

In [12]:
import math
print('%010.2f' % (math.pi,))
print('%-10.4f' % (math.e))
print('{:010.2f}'.format(math.pi,))
print('{:10.4f}'.format(math.e))

0000003.14
2.7183
0000003.14
    2.7183

In [15]:
strOld = "%s %d" % ('Python', 5)
print(strOld)
strNew = "{} {}".format('Python', 8)
print(strNew)
strPos = "{1} {0}".format(3, 'Python')
print(strPos)
strOld = "%(lang)s %(ver)d" % {'ver':3, 'lang':'Python'}
print(strPos)
kwargs = {'ver':3, 'lang':'Python'}
strNew1 = "{lang} {ver}".format(**kwargs)
print(strNew1)
strKey2 = "{lang} {ver}".format(** {'ver':3, 'lang':'Python'})
print(strKey2)
strKey3 = "{lang} {ver}".format(ver=3, lang='Python')
print(strKey3)

Python 5
Python 8
Python 3
Python 3
Python 3
Python 3
Python 3

In [16]:
text = "Hello World"
print(format(text, '<20'))
print(format(text, '>20'))
print(format(text, '^20'))
print(format(text, '=>20s'))
print(format(text, '*^20s'))
import math
print(format(math.pi, '>10.4'))
print(format(math.pi, '>010.4'))
print(format(-math.pi, '>-10.4'))
print(format(-math.pi, '->10.4'))
print(format(-math.pi, '-^10.4'))
print(format(-math.pi, '0^10.4'))

Hello World
         Hello World
    Hello World
=========Hello World
****Hello World*****
     3.142
000003.142
    -3.142
-----3.142
---3.142--
00-3.14200

<a id='dtip'></a>
# Data Types in Python

1. String
2. Int
3. Float
4. Bool

In [17]:
ex_string = 'Hello World!'
ex_int = 8
ex_float = 12.5
ex_bool = False

In [18]:
print(ex_string)
print(ex_int)
print(ex_float)
print(ex_bool)

Hello World!
8
12.5
False

Display book information like title, author, cost, quantity, ispdfavailble

In [19]:
print(type(ex_string))
print(type(ex_int))
print(type(ex_float))
print(type(ex_bool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [20]:
type(ex_string)

str

In [21]:
type(ex_int)

int

In [22]:
type(ex_float)

float

In [23]:
type(ex_bool)

bool

In [26]:
a = 0b1111
b = 0b1
print(a+b)
print(bin(a+b))

16
0b10000

In [27]:
ex_string

'Hello World!'

In [28]:
print(ex_string)

Hello World!

<a id='inbml'></a>
# Identifiers nothing but memory loacations

In [30]:
id(ex_string)

138828741238448

In [31]:
ex_int_2 = ex_int

In [32]:
id(ex_int)

10757960

In [33]:
id(ex_int_2)

10757960

In [34]:
ex_int + 12

20

In [35]:
ex_float = ex_float + 7

In [36]:
print(ex_float)

19.5

<a id='Operators_in_python'></a>
# Operators in python

In [37]:

# Addition:
print(5 + 2)
# Subtraction:
print(7 - 2)
# Multiplication:
print(6 * 2)
# Division:
print(4 / 5) #Float division
print(4//5) #Integer Division

7
5
12
0.8
0

Declare two variables apples and oranges and apply all arithmatical operators

In [39]:
# Division of float numbers:
print(6 // 2)
print(-3.0 // 2)

3
-2.0

In [41]:
# Exponent power operator:
5 ** 2 **5

23283064365386962890625

In [42]:
# Module can be used to get the remainder:
5%3

2

Program for simple interest and area of circle

In [43]:
import math

In [45]:
math

In [70]:
#math.factorial(5)

math.factorial(500)

NameError: name 'n' is not defined

<a id='oo'></a>
# Other operators

In [51]:
True and False

False

In [52]:
not False

True

In [53]:
True or False

True

In [54]:
2 > 1, 2 < 1, 2 > 2, 2 < 2, 2 >= 2, 2 <= 2

(True, False, False, False, True, True)

In [55]:
# equality
[1,2] == [1,2], [1,2] != [2,1]

(True, True)

In [56]:
#comparision operators

p = 2**3**4
print(p)
q = 2**(4**3)
print(q)
print(p==q)
print(18 & 3)
print(bin(18))
print(bin(3))


print(bin(24))
print(oct(24))
print(hex(24))
a=5
b=6
d=5|6
print(d)

print(5^6)


###shift opertators

print(4 <<4)
print(64 >> 3)

2417851639229258349412352
18446744073709551616
False
2
0b10010
0b11
0b11000
0o30
0x18
7
3
64
8

In [57]:
print(3<<5)

96

<a id='oodt'></a>
# Operations on Data Types

In [59]:
'kl' + ' ' + 'bachupally'

'kl bachupally'

In [61]:
'kl bachupally '*7

'kl bachupally kl bachupally kl bachupally kl bachupally kl bachupally kl bachupally kl bachupally '

In [63]:
len('klu bachupally')

14

In [65]:
1 + int('5')

6

In [67]:
int(11.9)

11

In [68]:
second = "2"
print(2.0 * float(second))

4.0

In [ ]:
import sys
print(" Size of int: ", sys.getsizeof(10), "\n",
"Size of float: ", sys.getsizeof(10.3), "\n",
"Size of complex: ", sys.getsizeof(2+3j), "\n",
"Size of empty List: ", sys.getsizeof([]), "\n",
"Size of List with 1 item: ", sys.getsizeof([1]), "\n",
"Size of List with 2 items: ", sys.getsizeof([1,2]), "\n",
"Size of empty Tuple: ", sys.getsizeof(()), "\n",
"Size of Tuple with 1 item: ", sys.getsizeof((1)), "\n",
"Size of Tuple with 2 items: ", sys.getsizeof((1,2)), "\n",
"Size of Tuple with 3 items: ", sys.getsizeof((1,2,3)), "\n",
"Size of empty Set: ", sys.getsizeof({}), "\n",
"Size of Set with 1 item: ", sys.getsizeof({1}), "\n",
"Size of Set with 2 items: ", sys.getsizeof({1,2}), "\n",
"Size of Dict with 1 item: ", sys.getsizeof({"n":1}), "\n",
"Size of Dict with 2 items: ", sys.getsizeof({"n":1, "m":2}))

 Size of int:  28
 Size of float:  24
 Size of complex:  32
 Size of empty List:  64
 Size of List with 1 item:  72
 Size of List with 2 items:  80
 Size of empty Tuple:  48
 Size of Tuple with 1 item:  28
 Size of Tuple with 2 items:  64
 Size of Tuple with 3 items:  72
 Size of empty Set:  240
 Size of Set with 1 item:  224
 Size of Set with 2 items:  224
 Size of Dict with 1 item:  240
 Size of Dict with 2 items:  240

# Question

Which of the following would return a float of 2.0?

first = 1.0 second = "2" third = "3.3"

first + float(second)

float(second) + float(third)

first + int(third)

first + int(float(third))

int(first) + int(float(third))

2.0 * second

<a id='s'></a>
# Strings

In [76]:
s = "Hello world"
type(s)
print(len(s))
# Indexing the first (index 0) character in the string:
s[4]

11

'o'

In [77]:
# This is called *slicing*. We start at the left index
#   and go up to but don't include the right index:

# Objects at indexes 0, 1, and 2
s[0:5]

'Hello'

In [78]:
# From index 6 up to the end of the string:
s[6:]

'world'

In [79]:
# No start or end specified:
s[:]

'Hello world'

In [80]:
# Can we index from the right side?
s[-3]

'r'

In [81]:
s[1:-3]

'ello wo'

In addition to specifying a range, you can add a step size or character skip rate.

In [82]:
# Define a step size of 2, i.e., every other character:
s[::3]

'Hlwl'

In [83]:
album = 'klh bach'

In [84]:
print(album[0])

k

In [85]:
album[0:4]

'klh '

In [86]:
album[4:]

'bach'

In [87]:
len(album)

8

In [88]:
s = "Hello world"
type(s)
s.rsplit
#help(s.rsplit)

In [89]:
s2 = s.replace("world", "test")
print(s2)

Hello test

# PROBLEMS

What is the final value of new_record in program below?

1. What is the output if we print new_record.

    record = 'Scorpion'
    
    new_record = record
    
    record = 'God's Plan'

2. If a = 1532, what does a[2] return?


3. What does the following print?

    record = 'Scorpion'
    
    print(f"Drake's album {record} is lyrically dense")
  
  
4. Given some string variable thing:

    What does thing[low:high] do?

    What does thing[low:] (without a value after the colon) do?

    What does thing[:high] (without a value before the colon) do?

    What does thing[:] (just a colon) do?

    What does thing[number:some-negative-number] do?

    What happens when you choose a high value which is out of range? (i.e., try album[15])
    
5. Add two binary numbers abd print their result in octal form.

6. Add two hexa decimal numbers and print their result in binary form.

<a id='mf'></a>
# Built-in Mathematical Functions

In [90]:
print('klh bachupally is near Drk college')

klh bachupally is near Drk college

In [91]:
max(3, 6, 5)

6

In [92]:
min(5, 3, 2)

2

In [93]:
round(5.3326, 3)

5.333

In [94]:
round(5.88, 1)

5.9

In [95]:
weight = 60.1543

In [96]:
print(f"My suitcase weighs {weight: .2f}")

My suitcase weighs  60.15

In [98]:
print("suitcase weighs {:.2f}".format(weight))

suitcase weighs 60.15

In [99]:
easy_string = "0zABc"
print(max(easy_string))

z

In [100]:
easy_string.upper()

'0ZABC'

In [101]:
import math

In [102]:
math.factorial(8)

40320

QUESTION

Predict what each print statement below will do.


easy_string = "abcABC"

print(max(easy_string))

rich = "gold1"

poor = "tin2"

print(max(rich, poor))

print(max(len(rich), len(poor)))

<a id='cs'></a>
# Control statements

# if-else -- indentation

In [103]:
if 1 == 1:
    print('The integer 1 is equal to the integer 1.')
    print('Is the next indented line run, too?')

The integer 1 is equal to the integer 1.
Is the next indented line run, too?

In [104]:
if 'one' == 'two':
    print("The string 'one' is equal to the string 'two'.")

print('---')
print('These two lines are not indented, so they are always run next.')

---
These two lines are not indented, so they are always run next.

In [105]:
if 50 < 30:
    print("50 < 30.")
else:
    print("50 >= 30.")
    print("The else code block wdas run instead of the first block.")

print('---')
print('These two lines are not indented, so they are always run next.')

50 >= 30.
The else code block wdas run instead of the first block.
---
These two lines are not indented, so they are always run next.

In [106]:
health = 55

if health > 70:
    print('You are in great health!')
elif health > 40:
    print('Your health is average.')
    print('Exercise and eat healthily!')
else:
    print('Your health is low.')
    print('Please see a doctor now.')

print('---')
print('These two lines are not indented, so they are always run next.')

Your health is average.
Exercise and eat healthily!
---
These two lines are not indented, so they are always run next.

In [107]:
bachelor = input("You watch the bachelor?")
if bachelor == 'yes' or bachelor == 'Yes':
    print('bachelor watcher')
else:
    print('possible bachelor watcher')

You watch the bachelor?yes
bachelor watcher

# question on if

1. Write an if… else statement to check whether or not the suitcase weighs more than 50 pounds by reading a weight from keyboard


2. Write an if… else statement for multiple conditions.

Print out these recommendations based on the weather conditions: by reading the temparature and rain as:

temperature = float(eval(input('What is the temperature? ')))


weather = input('What is the weather (rain or shine)? ')


1) The temperature is higher than 60 degrees and it is raining: Bring an umbrella.

2) The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.

3) The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.

4) The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [108]:
x,y=50,30
print( (x ^ y) + ( x & y) << 1 )

124

In [109]:
a=[9,3,5]
print(sum(a))

17

<a id='fl'></a>
# For loop

The range function
range(n) creates an iterable of numbers 0, 1, 2, ..., n-1.

In [110]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [111]:
total = 0
for number in range(5):
    total = total + number
print(total)

10

# Problems on for

Fill in the blanks to produce correct results:

1. Total length of the strings in the list: ["red", "green", "blue"] => 12

total = 0

for word in ["red", "green", "blue"]:

    ____ = ____ + len(word)
    
print(total)



2. List of word lengths: ["red", "green", "blue"] => [3, 5, 4]


lengths = ____

for word in ["red", "green", "blue"]:

    lengths.____(____)
    
print(lengths)

# another set of problems on for

1. Write a for loop that iterates from number 1 to number 15.

    On each iteration, print out the number.

2. Iterate from 1 to 30 using the following instructions:

    1) If a number is divisible by 3, print "fizz."
    
    2) If a number is divisible by 5, print "buzz."
    
    3) If a number is both divisible by 3 and by 5, print "fizzbuzz."
    
    4) Otherwise, print just the number.

# While Loop

In [113]:
x = 0
while x < 9:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8

<a id='lists'></a>
# Collections


    Lists: [1, 2, 'steve', False]
    Tuples: (1, 2, 'steve', False)

In [114]:
songs = ['Survival','Nonstop','Elevate','Emotionless',"God's Plan",
"I'm Upset",'8 Out Of 10','Mob Ties']

In [115]:
type(songs)

list

In [116]:
songs[0]

'Survival'

In [117]:
print(len(songs))

8

In [118]:
songs[3] = 'In my feelings'

In [119]:
print(len(songs))

8

In [120]:
songs

['Survival',
 'Nonstop',
 'Elevate',
 'In my feelings',
 "God's Plan",
 "I'm Upset",
 '8 Out Of 10',
 'Mob Ties']

In [121]:
list1 = [11,23,35,46,51,62,78, 89, 90,456, 345, 789, 234]
print("3rd Item in List is: ", list1[2]) # Indexing
print("2nd Last in List is: ", list1[-2]) # Indexing from Last
print("List from 2nd Item is: ", list1[2:])
print("List from 2nd to 4th Item is: ", list1[2:5])
print("List odd Items is: ", list1[::2])
print("List even Items is: ", list1[1::2])
print("List reversed Items is: ", list1[-1::-1])

3rd Item in List is:  35
2nd Last in List is:  789
List from 2nd Item is:  [35, 46, 51, 62, 78, 89, 90, 456, 345, 789, 234]
List from 2nd to 4th Item is:  [35, 46, 51]
List odd Items is:  [11, 35, 51, 78, 90, 345, 234]
List even Items is:  [23, 46, 62, 89, 456, 789]
List reversed Items is:  [234, 789, 345, 456, 90, 89, 78, 62, 51, 46, 35, 23, 11]

In [122]:
songs

['Survival',
 'Nonstop',
 'Elevate',
 'In my feelings',
 "God's Plan",
 "I'm Upset",
 '8 Out Of 10',
 'Mob Ties']

In [123]:
songs.append('Jump Man')

In [124]:
print(songs)

['Survival', 'Nonstop', 'Elevate', 'In my feelings', "God's Plan", "I'm Upset", '8 Out Of 10', 'Mob Ties', 'Jump Man']

In [125]:
del songs[3]

In [126]:
print(songs)

['Survival', 'Nonstop', 'Elevate', "God's Plan", "I'm Upset", '8 Out Of 10', 'Mob Ties', 'Jump Man']

In [127]:
new_playlist = []

In [128]:
new_playlist.append('0 to 100')

In [129]:
new_playlist

['0 to 100']

In [130]:
a = list()

In [131]:
import random

In [132]:
a.append(random.randint(1,30))

In [133]:
print(a)

[17]

In [134]:
print(a)

[17]

In [135]:
for i in range(0,10):
    a.append(random.randint(1,200000))

In [136]:
print(a)

[17, 79479, 126624, 164107, 10368, 197943, 170253, 170267, 109928, 161558, 67765]

In [137]:
print(a)

[17, 79479, 126624, 164107, 10368, 197943, 170253, 170267, 109928, 161558, 67765]

In [139]:
for i in range(0,5):
    a.append(random.randint(1,20))

In [138]:
print(a)

[17, 79479, 126624, 164107, 10368, 197943, 170253, 170267, 109928, 161558, 67765]

In [140]:
randomlist = []
#random.seed(42)
randomlist = random.sample(range(10,30),5)
print(randomlist)

[26, 20, 14, 22, 11]

In [141]:
# Create a new empty list:
l = []

# Add an element using append():
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

In [142]:
# Reassign a range of values with another list:
l[1:3] = ["b", "c"]
print(l)

['A', 'b', 'c']

In [143]:
#Use the .insert() method to add values at specific indices.
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'b', 'c']

In [144]:
#The .remove() method can be used to remove specific values if they appear in a list.
l.remove("A")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'b', 'c']

In [145]:
#On the other hand, the del() function can be used with a list and index to delete values.
del l[7]
del l[6]

print(l)

['i', 'n', 's', 'e', 'r', 't']

In [146]:
Ages = [ '20', '26', '56', '54', '32', '28','23','99', '87', '10', '65', '88', '66',
                  '48', '42', '27','33','38','83','94','66','44']
print(sorted(Ages, reverse=False))
print(Ages.sort())
print(sorted(Ages, reverse=True))

D = ['MONDAY', 'TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY']
print(D[-5], D[-4])
print(D[3], D[4])
print(D[2:5])

#print(reverse(D))
print(D.reverse())
print(list(reversed(D)))

Mylist =['a','a','b','b','b','c','c','d','e']
print(Mylist.index('d'))
Mylist.pop(0)
print(Mylist)

N = [24, 27, 29, 26, 25, 23, 20]
len(N)

['10', '20', '23', '26', '27', '28', '32', '33', '38', '42', '44', '48', '54', '56', '65', '66', '66', '83', '87', '88', '94', '99']
None
['99', '94', '88', '87', '83', '66', '66', '65', '56', '54', '48', '44', '42', '38', '33', '32', '28', '27', '26', '23', '20', '10']
WEDNESDAY THURSDAY
THURSDAY FRIDAY
['WEDNESDAY', 'THURSDAY', 'FRIDAY']
None
['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']
7
['a', 'b', 'b', 'b', 'c', 'c', 'd', 'e']

7

# List Comprehension
 check this folder :E:\Python for Data Science\listcomprehension

In [147]:
res = [random.randrange(1, 50, 1) for i in range(10)]
print(res)

[49, 39, 18, 2, 11, 32, 42, 12, 36, 7]

In [148]:
for number in [2, 4, 6]:
    print(number)

2
4
6

In [149]:
for bachelor in [3, 5, 6]:
    print(bachelor)

3
5
6

In [150]:
#n=[x*x for x in range(4)]
#print(n)
#
#list = [2,4,6,8]
#a= (x**3 for x in list)
#print(next(a))
#print(a)
#List Comprehension

l1 = [1,2,3,4,5]

for i in range(0,len(l1)):
    l1[i] = l1[i]+10
print(l1)

l2 = [x+10 for x in l1]
print(l2)

l3 = [x**3 for x in l1]
print(l3)

fahrenheit = [((float(9)/5)*x+32) for x in l1]
print(fahrenheit)

e = [x for x in l1 if x%2==0]
print(e)

[11, 12, 13, 14, 15]
[21, 22, 23, 24, 25]
[1331, 1728, 2197, 2744, 3375]
[51.8, 53.6, 55.400000000000006, 57.2, 59.0]
[12, 14]

<a id='tup'></a>
# Tuples

In [151]:
tuple1 = (1,2,3,4,5,6)
print("3rd Item in tuple is: ", tuple1[2]) # Indexed Item
print("Tuple from 2nd Item is: ", tuple1[2:])
print("Tuple from 2nd to 4th Item is: ", tuple1[2:5])
print("Tuple odd Items is: ", tuple1[::2])
print("Tuple even Items is: ", tuple1[1::2])
print("Tuple reversed Items is: ", tuple1[-1::-1])

3rd Item in tuple is:  3
Tuple from 2nd Item is:  (3, 4, 5, 6)
Tuple from 2nd to 4th Item is:  (3, 4, 5)
Tuple odd Items is:  (1, 3, 5)
Tuple even Items is:  (2, 4, 6)
Tuple reversed Items is:  (6, 5, 4, 3, 2, 1)

In [152]:

song_tuple = ('Survival','Nonstop','Elevate','Emotionless',"God's Plan"
"I'm Upset",'8 Out Of 10','Mob Ties')

In [153]:
song_tuple[3]

'Emotionless'

In [155]:
song_list = list(song_tuple)
song_list[3] = 'In my feelings'
song_tuple = tuple(song_list)
print(song_tuple)

('Survival', 'Nonstop', 'Elevate', 'In my feelings', "God's PlanI'm Upset", '8 Out Of 10', 'Mob Ties')

In [156]:
type(song_tuple)

tuple

In [157]:
song_list = list(song_tuple)

In [158]:
type(song_list)

list

In [159]:
print(song_list)

['Survival', 'Nonstop', 'Elevate', 'In my feelings', "God's PlanI'm Upset", '8 Out Of 10', 'Mob Ties']

In [160]:
tuple(song_list)

('Survival',
 'Nonstop',
 'Elevate',
 'In my feelings',
 "God's PlanI'm Upset",
 '8 Out Of 10',
 'Mob Ties')

In [161]:
point = (10, 20)
print(point)
print(type(point))

(10, 20)
<class 'tuple'>

In [162]:
# They can be sliced just like lists and strings:
point[0]

10

In [163]:
#Unpacking a variable is a common practice when iterating through Python data types.
#Unpacking essentially allows us to simultaneously set new variables to items in a list, tuple, or dictionary.

# Unpacking:
x, y = point

print("x = {}".format(x))
print("y = {}".format(y))

x = 10
y = 20

<a id='fun'></a>
# Functions

In [164]:
def hi():
    print('Hello World!')

In [165]:
hi()

Hello World!

In [166]:
def birth_date(month, day, year=2020):
    bday = str(month) + '/' + str(day) + '/' + str(year)
    print(bday)

In [168]:
birth_date(day = 5,month=5, year = 1979)

5/5/1979

In [169]:
birth_date(5, 11)

5/11/2020

In [170]:
def add(x,y):
    return x+y
print("Sum is ",add(3,5))

Sum is  8

In [171]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

print("Factorial of the number is:",fact(6))

Factorial of the number is: 720

In [172]:
#find mistake
word=['f','a','t','h','i','m','a']
def count_vow(word):
    for i in word:
        if(i=='a'or i=='e'or i=='i'or i=='o'or i=='u'):
            word.remove(i)
    return word
count_vow(word)

['f', 't', 'h', 'm']

In [173]:
test_list = [8, 1, -4, 8, -1]

In [174]:
def first_negative(list_of_numbers):
    '''
    This function takes in a list and
    returns the first negative number in
    list.

    Arguments
    ---------
    list_of_numbers: list type

    Returns
    -------
    int type, smallest value in list
    '''
    #loop over the list of numbers
    for num in list_of_numbers:
        if num < 0: #check if number is negative
            print(num) #print the number
            return num  #return the number

In [175]:
first_negative(test_list)

-4

-4

In [176]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [177]:
def vowel_counter(word):
    '''
    This function takes in a word and
    counts how many vowels
    '''
    count = 0
    for letter in word:
        if letter in 'aeiouAEIOU':
#         if letter in ['a', 'e', 'i', 'o', 'u']:
            count += 1
    return count

In [178]:
print(vowel_counter(sentence))

36

Code a function called "add_three"

ACCEPT  three inputs, all numbers (floats or ints)

RETURN the sum of the three numbers added together.

Build a function called 'cap_first'

ACCEPT a non-empty string input.

RETURN that same string, with first letter capitalized,and all subsequent letters in lower-case.

<a id='que'></a>
# Questions on for the above concepts

1. What are the types of the following variables?

    a = 1

    b = 2.6

    c = [1,2,3,5,6]
    
    d = {'val': 'kilmer', 'reggie':'bush'}
    
    e = ('one', 'two', 'three')
    
    f = {1:{'key':'value'}, 2:{'key2':'value2'}}
    
    g = True
    
    h = False
    
    i = 'integer'

2. What is the difference between a "mutable" and "immutable" object?

In [179]:
court_shows = ["America's Court with Judge Ross",
              "The Blame Game",
              "Couples Court with The Cutlers",
              "Divorce Court",
              "Guy Court",
              "Hot Bench",
              "Judge Wapner's Animal Court"]

3. Print the court_show list

4. Print the names of the first and last shows in the list.

5. Print the first five shows in the list.

6. Append an animal to the list of animals.

In [180]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

7. Divide the length of the fifth animal by the second.

8. Count the number of times 0 appears in the following list

binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

<a id='dict'></a>
# Dictionaries
Dictionaries are a non-ordered Python data type. Instead of using an ordered index to access data stored in a dictionary, we use a system of key-value pairs.

A key is similar to a variable name.

A value is similar to the value assigned to the variable.

Curly braces ({ }) enclose dictionaries. Note: You can also use curly braces to construct a set. The first input in a dictionary pair is the "key." The second input in a dictionary pair is the "value." The general format looks like this:

In [181]:
params = {"key1" : 1.0,
          "key2" : 2.0,
          "key3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'key1': 1.0, 'key2': 2.0, 'key3': 3.0}

In [182]:
# Value for parameter2 in the params dictionary:
params["key2"]

2.0

In [183]:
# Adding a new dictionary entry:
params["key4"] = "D"

In [184]:
# Print the entirety of the dictionary:
print(params)

{'key1': 1.0, 'key2': 2.0, 'key3': 3.0, 'key4': 'D'}

In [185]:
# Reassigning the value of a key-value pair in the dictionary:
params["key1"] = "A"
params["key2"] = "B"

In [186]:
print(params)

{'key1': 'A', 'key2': 'B', 'key3': 3.0, 'key4': 'D'}

In [187]:
# Dictionaries also have methods.

# Convert a dictionary to a list of tuples (key-value pairs).
# This is later used to conveniently loop through a dictionary:
list(params.items())

[('key1', 'A'), ('key2', 'B'), ('key3', 3.0), ('key4', 'D')]

In [188]:
tel = {'jack': 4098, 'sape': 4139}

In [189]:
type(tel)

dict

In [190]:
tel['jack']

4098

In [191]:
#reassigning guide key
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [192]:
del tel['sape']
tel['irv'] = 4127# artists['denre']['albums']='hello'
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [193]:
list(tel)

['jack', 'guido', 'irv']

In [194]:
sorted(tel)

['guido', 'irv', 'jack']

In [195]:
'guido' in tel

True

In [196]:
'jack' not in tel

False

In [197]:
#Another way of dectionary creation
d = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

In [198]:
d

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [199]:
d.keys()

dict_keys(['sape', 'guido', 'jack'])

In [200]:
tel.keys()

dict_keys(['jack', 'guido', 'irv'])

In [201]:
tel.values()

dict_values([4098, 4127, 4127])

In [202]:
tel.items()

dict_items([('jack', 4098), ('guido', 4127), ('irv', 4127)])

In [203]:
artists = {
    'Drake': {
        'genre': 'Pop',
        'albums': ["God's Plan", "Scorpion", "Care Package"],
        'on_tour': True
    },
    'Kraftwerk':{
        'genre': 'Electronic',
        'albums': ['Manmachine', 'Computerworld', 'Autobahn'],
        'on_tour': False
    },
    'Melt-Banana':{
        'genre': 'Power Violence',
        'albums': ['Scratch or Stitch', 'MxBx', 'Speak Squeak Creak'],
        'on_tour': True
    }
}

In [204]:
#what is Drake's second album?
artists['Drake']['albums'][1]

'Scorpion'

In [205]:
#I would like to know Melt-Banana's albums
artists['Melt-Banana']['albums']

['Scratch or Stitch', 'MxBx', 'Speak Squeak Creak']

# Questions on dictionaries

1. Create an New York zipcode dictionary.

    With the following key:value pairs:

        'wall_street': 10005

        'chinatown': 10013

        'harlem':10031

        'katonah':10536

2. Add scotia to the dictionary with zipcode 12302.

3. Get the zipcode for 'chinatown', and assign it to a variable.

4. Get the keys out of the dictionary

5. Get the key:value pairs out of the dictionary as a list of tuples.

<a id='sets'></a>
# Sets

In [206]:
v1 = {'A', 'B', 'A', 'A', 'B'}

In [207]:
v1

{'A', 'B'}

In [208]:
lyrics = '''And still
Bad things
It's a lot of bad things
That they wishin' and wishin' and wishin' and wishin'
They wishin' on me
Bad things
It's a lot of bad things
That they wishin' and wishin' and wishin' and wishin'
They wishin' on me
Yuh, ayy, ayy
'''

In [209]:
len(lyrics)

242

In [210]:
words = lyrics.split()

In [211]:
words

['And',
 'still',
 'Bad',
 'things',
 "It's",
 'a',
 'lot',
 'of',
 'bad',
 'things',
 'That',
 'they',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'They',
 "wishin'",
 'on',
 'me',
 'Bad',
 'things',
 "It's",
 'a',
 'lot',
 'of',
 'bad',
 'things',
 'That',
 'they',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'and',
 "wishin'",
 'They',
 "wishin'",
 'on',
 'me',
 'Yuh,',
 'ayy,',
 'ayy']

In [212]:
words[:10]

['And', 'still', 'Bad', 'things', "It's", 'a', 'lot', 'of', 'bad', 'things']

In [213]:
len(words)

47

In [214]:
set(words)

{'And',
 'Bad',
 "It's",
 'That',
 'They',
 'Yuh,',
 'a',
 'and',
 'ayy',
 'ayy,',
 'bad',
 'lot',
 'me',
 'of',
 'on',
 'still',
 'they',
 'things',
 "wishin'"}

In [215]:
len(set(words))

19

In [217]:
lexical_diversity = len(set(words))/len(words)
print(lexical_diversity)

0.40425531914893614

In [218]:
#print the lexical diversity rounded to two decimals
print(f'This verse of Drake is {lexical_diversity:.2f}')

This verse of Drake is 0.40

In [219]:
words = {'a', 'new', 'set', 'of', 'words'}

In [220]:
words.add('G.O.D')

In [221]:
words

{'G.O.D', 'a', 'new', 'of', 'set', 'words'}

In [222]:
words.remove('words')

In [223]:
words

{'G.O.D', 'a', 'new', 'of', 'set'}

In [224]:
other_words = {'another', 'set', 'of', 'new', 'words'}

In [225]:
words.intersection(other_words)

{'new', 'of', 'set'}

In [226]:
words.union(other_words)

{'G.O.D', 'a', 'another', 'new', 'of', 'set', 'words'}

In [227]:
x1 = {9,5,6,3,7,8,1}
x2 = {7,1,3,2,0,4,8}
x1.symmetric_difference(x2)
print(x1.intersection(x2))

{8, 1, 3, 7}

<a id='quer'></a>
# Queries and Inputs

In [228]:
#a,b,c=55
#a,b,c = 55,55,55
#a=b=c=55
#a=55;b=a;c=b
#x=45
#y=7
#x%=y
#print(x)
#a=4**3
#b=pow(4,3)
#print(a,b)
#x=8
#if x>8:
#    print(20)
#else:
#    print(10)

#int('10.8')
#float(10)
#int(10)
#float(10.8)

In [229]:
keys = [1,2,3,4]
values = ['one', 'two','three','four']
zipdict = dict(zip(keys, values))
zipdict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [230]:
zipdict.values()

dict_values(['one', 'two', 'three', 'four'])

In [232]:
dict={19:"suvin sai",20:"usina",21:"dfghjui"}
dict.get(19)

'suvin sai'

In [233]:
dict[19]

'suvin sai'